/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors (Customized)
 **/

* {
    background:     #0b0b0b;
    background-alt: #151515;
    foreground:     #e0e0e0;
    selected:       #6f99e8;
    active:         #7fc48f;
    urgent:         #e05c78;
}
